body {
    padding: 80px 40px 40px 40px;
}

.form-span {
    text-align: left!important;
    width: 15vw!important;
}

.input-group {
    margin-left: 12.5%!important;
    width: 75%!important;
}

.help-block {
    text-align: left!important;
    display: inline-block !important;
}


/* woraround for autocomplete */

input[readonly] {
    cursor: text;
    background-color: #fff;
}